.social-links {
  margin-top: 100px;
  h4 {
    font-size: 1.5rem;
  }

  .social-bubbles {
    text-align: center;
    .icon-wrapper {
      background-color: rgba(255, 255, 255, 0.4);
      display: inline-block;
      border-radius: 100%;
      border: thin solid var(--rot1);
      padding: 20px;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  h4 {
    font-family: "Montserrat", sans-serif;
  }

  @media (max-width: 640px) {
    .social-bubbles {
      .icon-wrapper {
        padding: 10px;
      }
    }
  }
}
